<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">

</head>
<script>
    function addUser(){
        document.getElementById('#createUserId').value = prompt();
    }
</script>
<body>
Создать новый
<form th:action="@{/createDeportament}" method="post">
    <input type="hidden" name="name" id="createUserId"/>
<button type="submit" onclick="addUser()"> Создать</button>
</form>
Все отделы
<div th:each="el : ${deportaments}">
<p th:text="${el.name}"/>
    <script>
        function update(){
            document.getElementById('#idUser').value = prompt();
        }
    </script>
    <form th:action="@{/AllDeportament}" method="post">
    <input type="hidden" name = id value="" id="idUser">
        <input type="hidden" name = name value="" id="idDeportament">
        <button type="submit" onclick="update()">Добавить
        </button>
    </form>
    <a th:href=" '/deportament/' + ${el.id} + '/update' ">Редактировать</a>

    <a th:href="'/deportament/' + ${el.id} + '/addUser'"> Добавить пользователя</a>
<form th:action=" '/deportament/' +${el.id}+ '/delete' " method="post">

    <button type="submit">Удалить</button>
</form>
</div>
</body>
</html>