<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
Создание задачи для пользователя
<form th:action="@{/createTaskUser}" method="post">
    <div><label> Имя <input type="text" name="name"/> </label></div>
    <div><input type="submit" value="Создать"/></div>
</form>
Создание задачи для отдела
<form th:action="@{/createTaskDeportament}" method="post">
    <div><label> Имя <input type="text" name="name"/> </label></div>
    <div><input type="submit" value="Создать"/></div>
</form>
</body>
</html>