<!DOCTYPE html>
<html lang="en">
<head>    <meta charset="UTF-8"></head>

    <form th:action="@{/createDeportament}" method="post">
        <div><label> Имя <input type="text" name="name"/> </label></div>
        <div><input type="submit" value="Создать"/></div>
    </form>
    <form th:action="@{/updateDeportament}" method="post">
        <div><label> Старое имя  : <input type="text" name="name"/> </label></div>
        <div><label> Новое имя: <input type="text" name="newName"/> </label></div>
        <div><input type="submit" value="Обновить"/></div>
    </form>

    <form th:action="@{/deportamentAddUser}" method="post">
         <div><label> User Name : <input type="text" name="id"/> </label></div>
        <div><input type="submit" value="Добавить юзера"/></div>
    </form>
    <form th:action="@{/deleteDeportament}" method="post">
    <div><label> Имя : <input type="text" name="name"/> </label></div>
    <div><input type="submit" value="Удалить"/></div>
    </form>
<body>

</body>
</html>