<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="/js/window.js"></script>

    <link href="/popup.css" rel="stylesheet"/>
</head>
<body>
<header th:insert="fragments/header :: header"></header>

<div class="container-fluid-full">
    <div class="row-fluid">
        <div id="content" class="span10" style="min-height: 969px;">

            <div class="row-fluid sortable ui-sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title="">
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>Создание пользователя
                        </h2>
                        <div class="box-icon">
                            <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="control-group">
                            <form th:action="@{form/reg}" method="post">
                                <label class="control-label">Имя</label>
                                <div class="controls">
                                    <input class="input-xlarge focused" required name="username" type="text"
                                           placeholder="логин">
                                </div>
                                <label class="control-label">Фамилия</label>
                                <div class="controls">
                                    <input class="input-xlarge focused" required name="lastname" type="text"
                                           placeholder="логин">
                                </div>
                                <label class="control-label">Логин</label>
                                <div class="controls">
                                    <input class="input-xlarge focused" required name="login" type="text"
                                           placeholder="логин">
                                </div>
                                <label class="control-label">Пароль</label>
                                <div class="controls">
                                    <input class="input-xlarge focused" required name="password" type="text"
                                           placeholder="логин">
                                </div>
                                <label class="control-label">Почта</label>
                                <div class="controls">
                                    <input class="input-xlarge focused" required name="email" type="email"
                                           placeholder="почта">
                                </div>
                                <label class="control-label">Номер телефона</label>
                                <div class="controls">
                                    <input class="input-xlarge focused" required name="number" type="number"
                                           placeholder="пароль">
                                </div>
                                <div>
                                    <label class="control-label">Название отдела</label>
                                    <select name="deportament">
                                        <option disabled>Выберите отдел</option>
                                        <option th:each="el : ${deportaments}" th:text="${el.name}"
                                                placeholder="Название отдела"></option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary open-window">Создать</button>



                            </form>
                        </div>

                    </div>
                </div><!--/span-->

            </div><!--/row-->
            <div class="row-fluid sortable ui-sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title="">
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>Создание отдела</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="control-group">

                            <form th:action="@{/form/createDeportament}" method="post">
                                <label type="hidden" value="good" id="otvet"> </label>
                                <label class="control-label">Название отедла</label>
                                <div class="controls">
                                    <input class="input-xlarge focused" name="name" type="text"
                                           placeholder="Название отедла">
                                </div>
                                <button type="submit" class="btn btn-primary">Создать</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-fluid sortable ui-sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title="">
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>Создание задачи</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="control-group">
                            <form th:action="@{/createTaskUser}" method="post">
                                <label class="control-label">Название задачи</label>
                                <div class="controls">
                                    <input class="input-xlarge focused" name="name" type="text"
                                           placeholder="Название задачи">
                                </div>
                                <label class="control-label">Описание задачи</label>
                                <div class="controls">
                                    <input class="input-xlarge focused" name="full_text" type="text"
                                           placeholder="Описание заадчи">
                                </div>
                                <label class="control-label">Дата начала</label>
                                <div class="controls">
                                    <input class="input-xlarge focused" name="localDateTimeStart" type="date"
                                           placeholder="Дата начала">
                                </div>
                                <label class="control-label">Дата конца</label>
                                <div class="controls">
                                    <input class="input-xlarge focused" name="localDateTimeEnd" type="date"
                                           placeholder="Дата конца">
                                </div>
                                <label class="control-label">Название отдела</label>
                                <div class="controls">
                                    <select name="deportament" id="foo">
                                        <option disabled>Выберите отдел</option>
                                        <option  th:each="el : ${deportaments}" th:text="${el.name}" th:value="${el.id}" class="selectt"></option>
                                    </select>
                                </div>
                                <p th:utext="${users}"></p>
                                <div class="controls hideSelect" id="hideSelect">
                                    <select name="user" id = "fooo">
                                        <option disabled>Выберите отдел</option>
                                        <option>
                                        </option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Создать</button>

                            </form>
                            <div id="str"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $('#foo').change(function () {
        $('#fooo').empty();
                $.getJSON('http://localhost:8082/get/users', function(result){

                    $.each(result ,function(i,item){

                            if(item['deportamentId']==$('#foo option:selected').val()) {
                                $('#fooo').append($('<option>', {
                                    text: item['username']
                                }));
                            }
                    });
                });
        $("#hideSelect").show();



    });


</script>
</body>
</html>