<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>

</div>

<div>

</div>

<input type="text" name="email" />
<button>
    MAKE
</button>
<script>
    $('button').click(function() {
        var context = $('input[name="email"]');
        context.val('New value. . .. ') ;
        context.attr('disabled', 'disabled');
    });
</script>

</body>
</html>