<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.6.4/math.js"></script>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
<nav>
    <ul class="topmenu">
        <li><a href="/main">На главную</a></li>
        <li><a href="">Личный кабинет</a></li>
        <li><a href="" class="down">Пользователи</a>
            <ul class="submenu">
                <li><a href="/CreateUser">Создание пользователя</a></li>
                <li><a href="/UpdateUser">Редоктирование пользователя</a></li>
                <li><a href="/DeleteUser">Удаление пользователя</a></li>
                <li><a href="/AllUser">Все пользователи</a></li>
            </ul>
        </li>
        <li><a href="" class="down">Задачи</a>
            <ul class="submenu">
                <li><a href="/CreateTask">Создание задачи</a></li>
                <li><a href="/DeleteTask">Удаление задачи</a></li>
                <li><a href="/UpdateTask">Обновление задачи</a></li>
                <li><a href="/AllTask">Все задачи</a></li>
            </ul>
        </li>
        <li><a href="" class="down">Отделы</a>
            <ul class="submenu">
                <li><a href="/CreateDeportament">Создание отдела</a></li>
                <li><a href="/DeleteDeportament">Удаление отдела</a></li>
                <li><a href="/UpdateDeportament">Обновление отдела</a></li>
                <li><a href="/AllDeportament">Все отделы</a></li>
            </ul>
        </li>
        <li><a href="">Contact</a></li>
    </ul>
</nav>
</body>
</html>