<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div id="content" class="span10">



    <div class="row-fluid">

        <div class="span7">
            <h1>Inbox</h1>

            <ul class="messagesList">

                <li>
                    <span class="from"><span class="glyphicons star"><i></i></span> Dennis Ji <span
                            class="glyphicons paperclip"><i></i></span></span><span class="title"><span
                        class="label label-warning">problem</span> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span
                        class="date">Today, <b>3:47 PM</b></span>
                </li>


            </ul>

        </div>


    </div>


</div>
<div align="right"><a href="">Написать сообщение</a></div>
</body>
</html>