<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/dialog.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div id="content" class="span10">
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon white user"></i><span class="break"></span>Members</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Дата создания</th>
                    <th>Задачи</th>
                    <th>Сотрудники</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="el : ${deportaments}">
                    <tr>
                        <td class="center"><p th:text="${el.name}"/></td>
                        <td class="center"><p th:text="${el.dataCreate}"/></td>
                        <td class="center"><a th:href=" '/tasks/' + ${el.id}">Задачи</a></td>
                        <td class="center"><a th:href=" '/users/' + ${el.id}">Сотрудники</a></td>
                        <input class="input-xlarge focused" th:name="${el.id}"
                               placeholder="Дата начала" type="hidden">
                        <td class="center">
                            <button class="buton1" th:name="${el.id}">Добавить задачу</button>
                            <button class="buton2" th:name="${el.id}">Добавить сотрудника</button>
                            <button class="buton3" th:name="${el.id}">Обновить отдел</button>
                            <form th:action="'/table/'+${el.id}+'/delete'" method="post">
                                <button> Удалить отдел</button>
                            </form>
                        </td>
                    </tr>

                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div id="dialog1" title="Диалоговое окно" name="dialog">
    <div class=\"box-content\">
        <div class="control-group">
            <form th:action="@{/table/createTaskDeportament}" method="post">
                <label class="control-label">Название задачи</label>
                <div class="controls">
                    <input class="input-xlarge focused" name="name" type="text"
                           placeholder="Название задачи">
                </div>
                <label class="control-label">Описание задачи</label>
                <div class="controls">
                    <input class="input-xlarge focused" name="full_text" type="text"
                           placeholder="Описание заадчи">
                </div>
                <label class="control-label">Дата начала</label>
                <div class="controls">
                    <input class="input-xlarge focused" name="localDateTimeStart" type="date"
                           placeholder="Дата начала">
                </div>
                <label class="control-label">Дата конца</label>
                <div class="controls">
                    <input class="input-xlarge focused" name="localDateTimeEnd" type="date"
                           placeholder="Дата конца">
                </div>
                <div class="controls hideSelect" id="hideSelect">
                    <select class="controls" name="priority">
                        <option disabled>Выберите срочность</option>
                        <option></option>
                        <option selected value="Не срочно">Не срочно</option>
                        <option value="Средней срочности">Средней срочности</option>
                        <option value="Очень срочно">Очень срочно</option>
                    </select>
                </div>
                <input class="input-xlarge focused" name="deportamentId" type="hidden" id="deportamentId"
                       placeholder="Дата конца">
                <button id="baton" type="submit" class="btn btn-primary">Создать</button>

            </form>
        </div>

    </div>
</div>
<div id="dialog2" title="Диалоговое окно" name="dialog2">
    <div class="box-content">
        <div class="control-group">
            <form th:action="@{form/reg}" method="post">
                <label class="control-label">Имя</label>
                <div class="controls">
                    <input class="input-xlarge focused" required name="username" type="text"
                           placeholder="имя">
                </div>
                <label class="control-label">Фамилия</label>
                <div class="controls">
                    <input class="input-xlarge focused" required name="lastname" type="text"
                           placeholder="фамилия">
                </div>
                <label class="control-label">Логин</label>
                <div class="controls">
                    <input class="input-xlarge focused" required name="login" type="text"
                           placeholder="логин">
                </div>
                <label class="control-label">Пароль</label>
                <div class="controls">
                    <input class="input-xlarge focused" required name="password" type="text"
                           placeholder="пароль">
                </div>
                <label class="control-label">Почта</label>
                <div class="controls">
                    <input class="input-xlarge focused" required name="email" type="email"
                           placeholder="почта">
                </div>
                <label class="control-label">Номер телефона</label>
                <div class="controls">
                    <input class="input-xlarge focused" required name="number" type="number"
                           placeholder="Номер телефона">
                </div>
                <div class="controls">
                    <input class="input-xlarge focused" required name="departament" type="hidden"
                           placeholder="Номер телефона">
                </div>
                <button type="submit" class="btn btn-primary open-window">Создать</button>
            </form>
        </div>

    </div>
</div>
<div id="dialog3" title="Диалоговое окно" name="dialog3">

    <div class="box-content">
        <div class="control-group">

            <form th:action="@{/table/updateDeportament}" method="post">
                <label class="control-label">Название отедла</label>
                <input class="input-xlarge focused" name="idDepartament" type="hidden" id=idDepartament>
                <div class="controls">
                    <input class="input-xlarge focused" name="nameDepartament" type="text" id=nameDepartament
                           placeholder="">
                </div>

                <button type="submit" class="btn btn-primary">Обновить</button>
            </form>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
    $(function () {
        $('#dialog1').dialog({
            autoOpen: false,
            position: ['center', 'top'],
            modal:true

        });
        $('#dialog2').dialog({
            autoOpen: false,
            position: ['center', 'top'],
            modal:true
        });
        $('#dialog3').dialog({
            autoOpen: false,
            position: ['center', 'top'],
            modal:true
        });
        $('.buton1').button().click(function (e) {
            let a = e.target
            $('#deportamentId').val($(a).attr('name'));
            console.log($('#deportamentId').val());
            $('#dialog1').dialog("open")
        });

        $('.buton2').button().click(function (e) {
            let a = e.target
            $('#otvet').val($(a).attr('name'));
            $('#updateDeportament').attr("placeholder", $(a).attr('name'));
            $('#dialog2').dialog("open")
        });
        $('.buton3').button().click(function (e) {
            let a = e.target;
            $('#nameDepartament').val('');
            $('#idDepartament').val($(a).attr('name'));
            $('#dialog3').dialog("open");
            console.log($('#idDepartament').val());
            console.log($('#nameDepartament').val());
        });

    });
</script>
</head>


</body>


</html>
