<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/dialog.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div id="content" class="span10">
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon white user"></i><span class="break"></span>Members</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Дата создания</th>
                        <th>Задачи</th>
                        <th>Сотрудники</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:each="el : ${users}">
                        <tr>
                            <td class="center"><p th:text="${el.username}"/></td>
                            <td class="center"><p th:text="${el.lastname}"/></td>
                            <td class="center"><p th:text="${el.phoneNumber}"/></td>
                            <td class="center"><p th:text="${el.email}"/></td>
                            <td class="center"><a th:href=" '/tasks/' + ${el.id}">Обновить</a></td>
                            <td class="center">
                                <form th:action="'/user/'+ ${el.id}+'/delete'" method="post">
                                    <button type="submit" class="btn btn-danger"></button>
                                    <i class="halflings-icon white trash"></i>
                                </form>
                            </td>
                            <td class="center">
                                <form  method="post">
                                    <button type="submit" class="btn btn-danger"></button>
                                    <i class="halflings-icon white trash"></i>
                                </form>
                            </td>
                            <td class="center">
                                <a class="btn btn-success" href="#">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                                <div id="dialog" title="Диалоговое окно" name="dialog">
                                    <form th:action="@{/deportament/{el.id}/update}" method="post">
                                        <label class="control-label">Дата начала</label>
                                        <div class="controls">
                                            <input class="input-xlarge focused" name="localDateTimeStart" type="date"
                                                   placeholder="Дата начала">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Создать</button>
                                    </form>
                                </div>
                                <button id="but">Показать диалоговое окно</button>
                                <form th:action="'/user/'+ ${el.id}+'/delete'" method="post">
                                    <button type="submit" class="btn btn-danger"></button>
                                    <i class="halflings-icon white trash"></i>
                                </form>
                            </td>
                        </tr>

                    </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#dialog').dialog({
            autoOpen: false
        });

        $('button').button().click(function (e) {
            $('#dialog').dialog("open")
        });
        $('#dialog').dialog({
            autoOpen: false,
            modal: true
        });
        $('#dialog').dialog({
            open: function () {
                $('.ui-dialog-titlebar-close').bind('click', function () {
                    $('#dialog').dialog('close');
                })
            }
        });


    });
    <div>

    </div>
</script>


</body>


</html>
